@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    background-color: #fde0a2;
    width: 100vw;
    height: 100vh;
}

h1, p, label, button {
    text-align: center;
    font-family: 'Play', sans-serif;
}

p.card-header-title {
    text-align: center;
    font-family: 'Play', sans-serif;
}

.playto {
    display: flex;
    justify-content: center;
}